@model IEnumerable<TopTenMovies.DataAccess.Entities.OrderDisplay>

@{
    ViewData["Title"] = "Order Placed";
}

<h1>Order Has Been Placed</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
                Order ID
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
                Customer Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductTitle)
                Product Title
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationCity)
                City
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationCity)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
